.vagina-img {
    background-image: url('/src/assets/img/vagina.png');
    height: 80px;
    width: 80px;
    background-color:rgb(229, 240, 241);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

/* .vagina-img:hover {
    border: 2px;
    border-radius: 10px;
    border-color: rgba(132, 155, 157, 0.327);
    border-style:solid;
} */

.vagina-img.selected {
    border: 2px;
    border-radius: 10px;
    border-color: rgb(241, 223, 84);
    border-style:solid;
}
